body{
  margin: 0;
  font-family: sans-serif;
}
body, html{
  height: 100%;
  font-size: 15px;
}
.introduction{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: none;
  overflow: hidden;

}
.fixed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar{
  width: 4px;
  background: #00000000;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 1);
  border-radius: 10px;
  background: #00000000;

}

::-webkit-scrollbar-thumb:hover{
  border-radius: 0px;
  background: rgba(44, 44, 44, 0.8);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(44, 44, 44, 0.5);
}
.bg{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("public/images/background.jpg") no-repeat 10% bottom fixed;
  animation: fadeIn 5s 0.5s ease forwards;
  opacity: 0;
  filter: blur(2px) contrast(200%) grayscale(40%) saturate(50%) opacity(0.4);
}
.landing{
  position: fixed;
}
.intro-title{
  font-size: 2rem;
  animation: fadeIn 5s 0.5s ease forwards;
  opacity: 0;
}
@keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}
.button{
  padding: 15px 30px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5em;
  text-align: center;
  background: none;
  border: 2px solid #383838;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  animation: fadeIn 5s 0.5s ease forwards;
  opacity: 0;
}
.button:hover{
  background: #383838;
  color: #fbfbfb;
}
.intro-title{
    font-weight:lighter;
    font-size: 2.5rem;
}
.gallery {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel{
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  min-width: 100vw;
  position: relative;
}



.button-area{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  opacity: 0.7;
  width: 200px;

}
.panel img{
  width: 40%;
  filter: grayscale(100%);

}
.panel img, .panel p, .title{
  opacity: 0;
  transition: opacity 2s;
}

.inview  img, .inview  p, .inview .title{
  /* opacity: 1!important; */
  animation: fadeInPanel 2s 0.1s ease forwards;

}

@keyframes fadeInPanel {
    0%{
      opacity: 0;
      transform: rotateX(30deg);
      transform-origin: 0% 100%;

    }
    50%{
    transform: rotateX(0deg);
    }
    100%{
      transform: rotateX(0deg);
      opacity: 1;
    }
}
.gallery:nth-child(even){
  align-self: flex-end;
}

.gallery:nth-child(odd){
  align-self: flex-start;
}
.panel:nth-of-type(even){
  align-items: center;
  background: #fefefe;
}
.panel:nth-of-type(odd){
  background: #383838;
  align-items: center;
}
.panel:nth-last-of-type(odd) .button{
  color: #fefefe;
  border-color: #fefefe;
}
.panel:nth-last-of-type(odd) .button:hover{
  color: #383838;
  border-color: #fefefe;
  background: #fefefe;
}
.information{
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
  padding: 0;
}
.text{
  line-height: 2rem;
  font-size: 0.9rem;
}
.panel:nth-of-type(odd) .information{
  order: 1;
  color: #fefefe;
}
.panel:nth-of-type(even) .information{
  order: 2;
  align-items: flex-end;
}
.panel:nth-of-type(odd) img{
  order: 2
}.panel:nth-of-type(odd) img{
  order: 1
}



@media screen and (max-width: 500px){
  .panel {
    flex-direction: column;
    font-size: 0.6rem;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20% 0;
  }
  .panel img{
    width: 90%;
    filter: grayscale(100%);
    order: 1!important;

  }
  .title{
    margin: 0 auto;
  }
  .text{
    margin: 0 auto;
    padding: 0 10px;
  }
  .information{
    order:2!important;
    margin: 0 auto;

  }
  .button{
    font-size: 0.8rem;
    padding: 10px 20px;
    margin: 10px 5px;
    flex: 1 0;
  }
  .intro-title{
    letter-spacing: 0.9rem;
  }
  .button-area{
    position: relative;
    height: auto;
    order: 3;
    /* justify-content: flex-end; */
    flex-direction: row;
    width: 90%;
  }
  .landing{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
