html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);

}
:root{
  --white: #f9f9f9;
  --black: #121212;
  --gray: #454545;
}
/* nav{
position:fixed;
font-family: 'Quicksand', sans-serif;
align-self: flex-end;
font-size: 1.8rem;
color: var(--white);
padding-right: 5px;
cursor: pointer;
z-index: 20;
background: var(--black);
height: 0%;
transition: all 1s ease;
animation: slideDown 1.5s 3s forwards linear;
}
nav.no-view{
max-height: 0px;
background: var(--white);
} */

@keyframes slideDown{
from{
  height: 0%;
}
to{
  height: 100%
}
}
/* nav.animate{
transition: all 1.5s linear;
max-height: 100%;
background: #3333ab;
min-width: 80px;

}
nav span:hover, nav span.active{
transform: translateX(-10px);
text-shadow: 1px 0px 1px #00000033 ;
background: #29a7eb;
}
nav span{
transform: translateX(200%);
margin: 20px 0;
padding-left: 15px;
}
nav .animate{
transition: all 0.5s ease-in-out;
transform: translateX(0);
} */
h1,h2,h3, h4{
text-align: center;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
}
h2{
font-size: 100pt;
font-weight: 700;
}
#home .animate{
opacity: 1;
transform: translateY(0);
}
#home br.animate{
width: 50%;
}
#home{
background: var(--white);
width: 100%;
}
#home h2, #home h3, #home h4, #home p{
opacity: 0;
margin: 20px;
position: relative;
}
#home h2{
/* transform: translateY(-20px); */
background-color: #b1b1b1;
opacity: 0;
transition: all 4s ease-in-out;
text-align: center;
color: transparent;
text-shadow: -2px 2px  3px rgba(255, 255, 255, 0.5);
-webkit-background-clip: text;
align-self: baseline;
}
#home h3{
transform: translateY(20px);
opacity: 0;
transition: all 1s ease-in-out;
}
#home h4{
transform: translateY(-20px);
opacity: 0;
transition: all 1s ease-in-out;
}
#home p{
/* transform: translateY(20px); */
margin: 5px;
font-size: 0.9rem;
opacity: 0;
transition: all 1s ease-in-out;

}
#home a{
  color: var(--gray);
}
#home br{
content: "";
opacity: 0;
bottom: -100%;
width: 0%;
height: 1px;
/* background: #20209f33; */
background-image: linear-gradient(to right, var(--white), #016d59, var(--white));
animation-name: fadeIn;
transition: all 2s ease-in;
}
.relative-pos{
position: relative;
}
.no-view{
opacity: 0;
transition: opacity 3s ease-in-out;
}
.view{
opacity: 1;
}
.transition-1s{
transition: all 0.15s  ease-in-out;
}

.no-opacity{
opacity: 0;
}
.flex{
display: flex;
}
.space-between{
justify-content: space-between;
}
.column{
flex-direction: column;
}
.row{
flex-direction: row;
}
.grid{
display: grid;
}
.center{
justify-content: center;
/* justify-content: space-between; */
align-items: center;
}

.full-screen{
min-height: 100vh;
}
.block-panel{
flex: 0 0 40%;
position: relative;
}
